<!DOCTYPE html>
<html>
  <head>
    <title>인식화면</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
                <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
        <meta http-equiv="refresh" content="20;url='/reset'" >
  </head>
  <body>

   <a> <div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>안녕하세요! <%= username %>님! <br> 같이 운동해볼까요?</h1></strong><div class="ribbon-stitches-bottom"></div></div><a>
<br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
var speech = "<%= query %>";
console.log(speech);
responsiveVoice.speak(speech, "Korean Female", {rate: 1.0});
</script>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>

      <p id="ViewTimer"></p><img src="/images/exercise/manager.png" id="img"/>
      <br><br><br><br><br><br>
      <a href='/search_exercise' class='button'>운동 시작</a> &nbsp;&nbsp;&nbsp;&nbsp;
     <a class="nobutton" href="/reset"> 안할래요. </a>
    </body>
</html>
