<!DOCTYPE html>
<html>
  <head>
    <title>인식화면</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
                <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
        <meta http-equiv="refresh" content="20;url='/reset'" >
  </head>
  <body>

    <h1>안녕하세요! <br> <%= username %>님! </h1>
    <h2>같이 운동해볼까요?</h2>
<br><br><br><br><br><br><br><br><br>

<script type="text/javascript">
var speech = "<%= query %>";
console.log(speech);
responsiveVoice.speak(speech, "Korean Female", {rate: 1.0});
</script>
      <p id="ViewTimer"></p><img src="/images/exercise/manager.png" id="img"/>
      <br><br><br><br><br><br>
     <a class="textbtn" href="/search_exercise">그래요! </a> &nbsp;&nbsp;&nbsp;&nbsp;
     <a class="textbtn" href="/reset"> 안할래요. </a>
    </body>
</html>
