<!DOCTYPE html>
<html>
  <head>
    <title>초기화..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
                    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <meta http-equiv="refresh" content="30;url='/reset'">
  </head>
  <body>
  
<script type="text/javascript">
var speech = "<%= query %>";
console.log(speech);
responsiveVoice.speak(speech, "Korean Female");
</script>

  <div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>운동을 모두 끝냈습니다.</h1></strong><div class="ribbon-stitches-bottom"></div></div>

      <br><br><br><br><br><br>

    <div style="position: absolute; left:0px; width:1000px; height:1200px;">
    <object type="text/html" data="http://192.9.44.54:8081/smash/medic/PatientInfo?pNum=<%= id %>"
            style="width:100%; height:100%; margin:1%;">
    </object>
</div>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    
    <br><br>
    <h2>이제 휴식을 취하는게 좋을 것 같아요.</h2>
    <h2>얼마나 했는지 알아볼까요?</h2>
    <h3>30초뒤에 초기화됩니다.</h3>
    <br><br><br><br><br><br>

  </body>
</html>
