<!DOCTYPE html>
<html>
  <head>
    <title>초기화..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
                    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <meta http-equiv="refresh" content="10;url='/reset'">
  </head>
  <body>
  
<script type="text/javascript">
var speech = "<%= query %>";
console.log(speech);
responsiveVoice.speak(speech, "Korean Female");
</script>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>

   <a> <div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>수고하셨어요!</h1></strong><div class="ribbon-stitches-bottom"></div></div><a>
    <br><br>
    <h2>이제 휴식을 취하는게 좋을 것 같아요.</h2>
    <br><br><br><br><br><br>
  </body>
</html>
