<!DOCTYPE html>
<html>
  <head>
    <title>운동 승낙</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta http-equiv="refresh" content="30;url='/search_exercise'">
            <script src="/js/jquery-3.2.1.min.js"></script>
  </head>
  <body>


  <p id="ViewTimer"></p><img src="<%= image %>" id="img" width="576" height="900"/>
    <a href="/end"> 그만하기 </a>    
  </body>
</html>
