<!DOCTYPE html>
<html>
  <head>
    <title>초기화..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="5;url='/reset'">
  </head>
  <body>
    <h1> </h1>      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>

<div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>일시중단하셨습니다.<br>다음에 계속 하실수있습니다.ㄴ</h1></strong><div class="ribbon-stitches-bottom"></div></div>
  </body>
</html>
