<!DOCTYPE html>
<html>
  <head>
    <title>초기화..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
                        <script src="http://code.responsivevoice.org/responsivevoice.js"></script>

    <meta http-equiv="refresh" content="5;url='/reset'">
  </head>
  <body>

  
<script type="text/javascript">
var speech = "<%= query %>";
console.log(speech);
responsiveVoice.speak(speech, "Korean Female");
</script>

  
<div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>일시중단하셨습니다.<br>다음에 꼭 다시만나요.</h1></strong><div class="ribbon-stitches-bottom"></div></div>
  
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
         <h1> 남은 운동 갯수 : <%= count %></h1>

  </body>
</html>
