<!DOCTYPE html>
<html>
  <head>
    <title>초기화..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="5;url='/'">
  </head>
  <body>
    <h1> </h1>      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>

<div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>초기화 중입니다.</h1></strong><div class="ribbon-stitches-bottom"></div></div>
  </body>
</html>
