<!DOCTYPE html>
<html>
  <head>
    <title>초기화..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="5;url='/reset'">
                <script src="/js/jquery-3.2.1.min.js"></script>
                            <script src="http://code.responsivevoice.org/responsivevoice.js"></script>

  </head>
  <body>
   <script type="text/javascript">
      var speech = "<%= query %>";
      console.log(speech);
      responsiveVoice.speak(speech, "Korean Female", {rate: 1.0});
      </script>


<div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>잘못오셨어요!<br>여기가 아니에요.</h1></strong><div class="ribbon-stitches-bottom"></div></div>

  <p id="ViewTimer"></p><img src="<%= image %>" id="img" width="576" height="900"/>

  </body>
</html>
