body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(59,103,158);
  background: -moz-linear-gradient(-45deg, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  background: linear-gradient(135deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );

  text-shadow: 0.3em 0.3em 0.15em #333; 
  
}

a {
  color: #00B7FF;
}

h1 {
  color: white;
  font-size: 5em; 
}

h2 {
  color: white;  
  font-size: 2em; 
  margin-bottom: -2em; 
}
h3{
  color: white;  
  font-size: 1em;  
}

#result-image{
  height: 2em;
  margin-bottom: -0.7em;
  margin-left: -0.4em;
}

.unvisible {
  visibility: hidden;
}

.textbtn {
  font-size: 1em;  
  color: white;  
}